.App {
  margin:0;
  text-align: center;
  width: 96%;
  padding: 2% 2%;
  min-height: 100vh;
  background: linear-gradient(45deg, #5095E4, #306FD3);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  -webkit-font-smoothing: none;
  font-family: 'Poppins', sans-serif;
}